<!-- 
	Despliega el editor de materias
-->

{% extends "layout.html" %}
{% block title %}Editor{% endblock %}
{% block head %}
	{{ super() }}
	<script type="text/javascript" src="{{url_for('static', filename='editor.js')}}"></script>
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
{% endblock %}

{% block options %}
	<br>
	<p class="nav-link" data-toggle="modal" data-target="#generateExamsModal" href="">Generar exámenes</p>
	<a class="nav-link" href="/main">Panel principal</a>
{% endblock %}

{% block content %}
	<br>
	<div class="card bg-light editorCard" style="border-color: #7c8482;">
		<table cellpadding="10">
			<tr>
				<td>
					<h2>Editando: {{ folderName }}</h2>
					<p class="lead">Preguntas: <span id="countQuestions"></span></p>
				</td>
				<td>
					<div style="float:right">
						<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#undoChangesModal">
							<i class="material-icons">settings_backup_restore</i>
						</button>
						<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteFolderModal">
							<i class="material-icons">delete</i>
						</button>
						<button type="button" class="btn btn-primary" onclick="save()">
							<i class="material-icons">save</i>
						</button>
					</div>
				</td>
			</tr>
		</table>
	</div>

	<br>
	<div id="messageError" class="alert alert-danger" style="display:none"></div>
	{{save}}
	<div id="messageSuccess">
		{% if caller == "saveFolder" %}
			<div class="alert alert-success">Se han guardado los cambios</div>
			{% set caller = "F" %}
		{% endif %}
	</div>

	{% set empty = [] %}
	<span id="questionFormat" style="display:none">{{ questionFormat(empty) }}</span>
	<span id="sectionFormat" style="display:none">{{ sectionFormat(empty) }}</span>
	<form id="editor" class="animated fadeIn" action="/saveFolder" method="POST">
		<input type="hidden" name="folderId" value="{{ folderId }}">
		
		{% if contents|length > 0 %}
			{% for element in contents %}
				{% if element.section is defined %}
					{{ sectionFormat(element) }}
				{% else %}
					{{ questionFormat(element) }}
				{% endif %}
			{% endfor %}
		{% else %}
			<script>addSection(); addQuestion();</script>
		{% endif %}
	</form>
	<script>countElements();</script>

	<br>
	<center>
		<button type="button" class="btn btn-success" onclick="addQuestion()">
			<i class="material-icons">add</i> Pregunta
		</button>
		<button type="button" class="btn btn-success" onclick="addSection()">
			<i class="material-icons">add</i> Tema
		</button>
	</center>
	
	<div class="modal fade" id="deleteQuestionModal">
		<div class="modal-dialog">
			<div class="modal-content">
			    <!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">Eliminar pregunta</h4>
			    	<button type="button" class="close" data-dismiss="modal">&times;</button>
			    </div>
			  	<!-- Modal body -->
			  	<div class="modal-body">
    				<label for="name">¿Desea eliminar la pregunta?</label>
			  	</div>
			  	<!-- Modal footer -->
			  	<div class="modal-footer">
			  		<button type="button" class="btn btn-danger" onclick="confirmDeleteQuestion()" data-dismiss="modal">Eliminar</button>
			    	<button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
			  	</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="deleteSectionModal">
		<div class="modal-dialog">
			<div class="modal-content">
			    <!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">Eliminar Tema</h4>
			    	<button type="button" class="close" data-dismiss="modal">&times;</button>
			    </div>
			  	<!-- Modal body -->
			  	<div class="modal-body">
    				<label for="name">¿Desea eliminar el tema y todas sus preguntas?</label>
			  	</div>
			  	<!-- Modal footer -->
			  	<div class="modal-footer">
			  		<button type="button" class="btn btn-danger" onclick="confirmDeleteSection()" data-dismiss="modal">Eliminar</button>
			    	<button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
			  	</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="generateExamsModal">
		<div class="modal-dialog">
			<div class="modal-content">
			    <!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">Crear exámenes</h4>
			    	<button type="button" class="close" data-dismiss="modal">&times;</button>
			    </div>
			  	<!-- Modal body -->
			  	<div class="modal-body">
			  		<form action="/generateExams" method="POST" id="generateExamsForm"
		          onkeypress="return event.keyCode != 13;">
		          		<input type="hidden" name="folderId" value="{{ folderId }}">
						<table align="left" style="width: 100%">
				  			<tr>
				  				<td colspan="2">
				  					<p>Reactivos por tema:</p><br>
				  				</td>
				  			</tr>
				  			{% if sections|length > 0 %}
					  			{% for section in sections %}
					  				<tr>
					  					<td width="15%">
					  						<input type="number" min="1" class="form-control" name="{{ section.sName }}" style="margin-bottom: 10px;">
					  					</td>
					  					<td width="85%">
					  						<label style="float:left">{{ section.sName }}</label>
					  					</td>
					  				</tr>
					  			{% endfor %}
				  			{% else %}
					  			<tr>
					  				<td colspan="2">
					  					<label>Guarda los cambios primero</label>
					  				</td>
					  			</tr>
					  		{% endif %}
					  		<tr>
					  			<td colspan="2">
					  				<label>Cantidad de examenes a generar:</label>
					  			</td>
					  			
					  		</tr>
					  		<tr>
					  			<td colspan="2">
					  				<input type="number" min="1" class="form-control" name="amount" style="margin-bottom: 10px;">
					  			</td>
					  		</tr>
					  		<tr>
					  			<td colspan="2">
					  				<div id="generateExamsError" class="alert alert-danger" style="display:none"></div>
					  			</td>
					  		</tr>
				  		</table>
			  		</form>
			  	</div>
			  	<!-- Modal footer -->
			  	<div class="modal-footer">
			  		<meta id="sectionsData" data-name="{{ sectionsJSON }}">
			  		<button type="button" class="btn btn-primary" onclick="generateExams()">Crear</button>
			    	<button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
			  	</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="undoChangesModal">
		<div class="modal-dialog">
			<div class="modal-content">
			    <!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">Descartar cambios</h4>
			    	<button type="button" class="close" data-dismiss="modal">&times;</button>
			    </div>
			  	<!-- Modal body -->
			  	<div class="modal-body">
    				<label for="name">¿Desea regresar al estado del último guardado? No se podrán recuperar los cambios.</label>
			  	</div>
			  	<form id="folderData" action="/openFolder" method="POST" style="display:none">
			  		<input type="hidden" name="folderId" value="{{ folderId }}">
			  	</form>
			  	<!-- Modal footer -->
			  	<div class="modal-footer">
			  		<button type="button" class="btn btn-danger" onclick="confirmUndoChanges()" data-dismiss="modal">Descartar</button>
			    	<button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
			  	</div>
			</div>
		</div>
	</div>

	{{ formulaExplain() }}

	<div class="modal fade" id="deleteFolderModal">
		<div class="modal-dialog">
			<div class="modal-content">
			    <!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">Crear nueva materia</h4>
			    	<button type="button" class="close" data-dismiss="modal">&times;</button>
			    </div> 
			  	<!-- Modal body -->
			  	<div class="modal-body">
		    		<label>Seguro que desea eliminar la forma?</label>
			  	</div>
				<form id="deleteFolderForm" action="/delFolder" method="POST" 
					onkeypress="return event.keyCode != 13;">
					<input type="hidden" name="folderId" value="{{ folderId }}">
				  	<!-- Modal footer -->
				  	<div class="modal-footer">
				  		<input type="submit" class="btn btn-danger" value="Eliminar"></input>
				    	<button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
				  	</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}

{% macro questionFormat(question) %}
	{% if question.statement == "placeholder" %}
		{% set question = [] %}
	{% endif %}	
	{% set questionIdFromHeader = "this.parentElement.parentElement.parentElement.parentElement.parentElement.parentElement.parentElement" %}
	{% set optionsFromAlgebra = "this.parentElement.parentElement.parentElement.nextElementSibling.firstChild" %}
	{% set formulaFromAlgebra = "this.parentElement.parentElement.parentElement.nextElementSibling.nextElementSibling.firstChild" %}
	<section class="question">
		<div class="card editorCard" style="border-color: #56b0ff;">
			<table style="width:100%; min-width:500px">
				<tr>
					<td colspan="2">
						<div style="float:left; margin-top:8px">
							<label class="lead">Pregunta <span class="questionNumber"></span>:</label>
						</div>
						<div style="float:right">
							<button type="button" class="btn btn-basic btn-sm" onclick="moveQuestionUp({{ questionIdFromHeader }})">
								<i class="material-icons">arrow_upward</i>
							</button>
							<button type="button" class="btn btn-basic btn-sm" onclick="moveQuestionDown({{ questionIdFromHeader }})">
								<i class="material-icons">arrow_downward</i>
							</button>
							<button type="button" class="btn btn-basic btn-sm" onclick="deleteQuestion({{ questionIdFromHeader }})">
								<i class="material-icons">delete</i>
							</button>
						</div>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<input type="text" class="form-control" name="question" onchange="Saved=false" value="{{ question.statement }}">
					</td>
				</tr>
				<tr>
					<td>
						<label><input type="checkbox" value="T" name="algebra" onchange="toggleQuestion(this, {{ formulaFromAlgebra }}, {{ optionsFromAlgebra }})" {% if question.algebraic %} checked {% endif %}>¿Algebráico?</label>
					</td>
				</tr>
				<tr><td colspan="2" {% if question.algebraic is defined%} style="display:none" {% endif %}><table style="width:100%">
					<tr>
						<td>
							<label class="form-l">Respuesta Correcta:</label>
						</td>
						<td>
							<input type="text" class="form-control answer" name="1" onchange="Saved=false" value="{{ question.correct }}">
						</td>
					</tr>
					<tr>
						<td style="vertical-align: top">
							<label class="form-l">Distractores:</label>
						</td>
						<td>
							<input style="margin-bottom:2px" type="text" class="form-control answer" name="2" onchange="Saved=false" value="{{ question.distractor1 }}">
							<input style="margin-bottom:2px" type="text" class="form-control answer" name="3" onchange="Saved=false" value="{{ question.distractor2 }}">
							<input style="margin-bottom:2px" type="text" class="form-control answer" name="4" onchange="Saved=false" value="{{ question.distractor3 }}">
						</td>
					</tr>
				</table></td></tr>
				<tr><td colspan="2" {% if question.algebraic is not defined %} style="display:none" {% endif %}><table style="width:100%">
					<tr>
						<td>
							<label class="form-l">Fórmula:</label>
							<a data-toggle="modal" data-target="#formulaExplainModal" href="">?</a>
						</td>
						<td>
							<input type="text" class="form-control formula" name="5" onchange="Saved=false" value="{{ question.formula }}">
						</td>
					</tr>
				</table></td></tr>
			</table>
		</div>
		<br>
	</section>
{% endmacro %}

{% macro sectionFormat(section) %}
	{% if section.section == "placeholder" %}
		{% set section = [] %}
	{% endif %}
	{% set sectionIdFromBtn = "this.parentElement.parentElement.parentElement.parentElement.parentElement.parentElement" %}
	<section class="section">
		<div class="card editorCard" style="border-color: #6de8ce;">
			<table style="width:100%; min-width:500px">
				<tr>
					<td>
						<label class="lead">Tema <span class="sectionNumber"></span>:</label>
					</td>
					<td>
						<input type="text" class="form-control" name="section" onchange="Saved=false" value="{{ section.section }}">
					</td>
					<td align="right">
						<button type="button" class="btn btn-basic btn-sm" onclick="deleteSection({{ sectionIdFromBtn }})">
							<i class="material-icons">delete</i>
						</button>
					</td>
				</tr>
			</table>
		</div>
		<br>
	</section>
{% endmacro %}

{% macro formulaExplain() %}
	<div class="modal fade" id="formulaExplainModal">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
			    <!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">Fórmulas algebráicas</h4>
			    	<button type="button" class="close" data-dismiss="modal">&times;</button>
			    </div>
			  	<!-- Modal body -->
			  	<div class="modal-body" style="text-align:left">
    				Escribe el enunciado y entre [ ] ingresa las variables a utilizar.
    				<br>
					Para el campo de "Fórmula", ingresa la ecuación a realizar utilizando las variables definidas en el enunciado. A un lado, utiliza el caracter | para definir el rango de las variables definiendo una por una con la siguiente sintaxis.
					<br>
					variable1 = rango(valor mínimo, valor máximo) / variable2 = rango(valor mínimo, valor máximo) / variable3 ...
					<br>

					<hr>
					Ejemplo: 
					<br><br>
					Enunciado: <br>
					Cual de las siguientes es una de las intersecciones en el eje x de la ecuacion [a]x^2 + [b]x + [c]
					<br><br>
					Formula:<br>
					(- b + sqrt(pow(b,2) - 4 * a * c)) / (2 * a) | a = rango(1,2) / b = rango(1,10) / c = rango(1,2)
					<br><br>
					Resultado:<br>
					Cual de las siguientes es una de las intersecciones en el eje x de la ecuacion 2x^2 + 4x + 1<br>
					a. -0.268 <br>
					b. -0.234 <br>
					c. -0.258 <br>
					d. -0.209
					<hr>

					Puedes utilizar los siguientes operadores matematicos: <br>
					<table>
						<tr>
							<td>
								+
							</td>
							<td>
								suma
							</td>
						</tr>
						<tr>
							<td>
								-
							</td>
							<td>
								resta
							</td>
						</tr>
						<tr>
							<td>
								*
							</td>
							<td>
								multiplicacion
							</td>
						</tr>
						<tr>
							<td>
								/
							</td>
							<td>
								division
							</td>
						</tr>
						<tr>
							<td>
								( )
							</td>
							<td>
								definen el orden de las operaciones
							</td>
						</tr>
						<tr>
							<td>
								abs(a)
							</td>
							<td>
								valor absoluto de "a"
							</td>
						</tr>
						<tr>
							<td>
								sqrt(a)
							</td>
							<td>
								raiz cuadrada de "a"
							</td>
						</tr>
						<tr>
							<td>
								pow(a,b)
							</td>
							<td>
								"a" elevado a la potencia "b"
							</td>
						</tr>
					</table>
			  	</div>
			  	<!-- Modal footer -->
			  	<div class="modal-footer">
			    	<button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
			  	</div>
			</div>
		</div>
	</div>
{% endmacro %}
