<!DOCTYPE html>
<html lang="es">
	<head>

		<script type="text/javascript" src="{{url_for('static', filename='actions.js')}}"></script>
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

		<script src="https://apis.google.com/js/platform.js" async defer></script>
		<meta name="google-signin-client_id" content="1086622454733-i5o4ls2kopn9dtm9npi9gs96u52c2qcq.apps.googleusercontent.com">
	</head>
	<body>

		<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
			<a href="javascript:void(0)" id="toggleBtn" class="closebtn nav-link material-icons" onclick="closeNav()"><span class="navbar-toggler-icon"><span></a>
			<a class="navbar-brand" href="#">EBR</a>
		</nav>

		<center>
			<p style="color:blue; margin-top:10px; font-size:160px">EBR</p>
			<p style="color:blue; margin-top:-50px">Exams Better Reloaded</p>
			{% if notLogged is defined%}
				<div class="alert alert-danger" style="width:250px">No hay una sesion iniciada</div>
			{% endif %}
			<p>Iniciar sesion</p>
			<div class="g-signin2" data-onsuccess="onSignIn" onclick="clicked = true"></div>
		</center>
	</body>
</html>

<script src="https://www.gstatic.com/firebasejs/5.5.8/firebase.js"></script>
<script>
  	// Initialize Firebase
  	var config = {
    	apiKey: "AIzaSyCMs1O70z1q6qIArA36dBX1iuipaNStOYg",
    	authDomain: "examsbr-2a061.firebaseapp.com",
    	databaseURL: "https://examsbr-2a061.firebaseio.com",
    	projectId: "examsbr-2a061",
    	storageBucket: "examsbr-2a061.appspot.com",
    	messagingSenderId: "1086622454733"
  	};
  	firebase.initializeApp(config);
  	var clicked = false;
  	var f = document.createElement("form");
  	function onSignIn(googleUser) {
  		var profile = googleUser.getBasicProfile();
  		var db = firebase.database();

  		firebase.database().ref('users/').set({
  			username: "hola",
  			email: profile.getEmail()
  		})
	    f.setAttribute('method',"post");
	    f.setAttribute('action',"/login");
	    f.style.display = "none";
	    document.body.appendChild(f);
	    if (clicked) {
	    	f.submit();
	    }
	}
</script>