{% extends "layout.html" %}
{% block title %}Main{% endblock %}
{% block head %}
	{{ super() }}
{% endblock %}

{% block options %}
	<br>
	<p class="nav-link" data-toggle="modal" data-target="#createEvalModal" href="">Crear Evaluación</p>
	<p class="nav-link" href="">Abrir Evaluación</p>
{% endblock %}

{% block content %}
	<div class="modal" id="createEvalModal">
		<div class="modal-dialog">
			<div class="modal-content">
			    <!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">Crear nueva evaluación</h4>
			    	<button type="button" class="close" data-dismiss="modal">&times;</button>
			    </div>
			    <form id="createEvalForm" action="/newEval" method="POST">
				  	<!-- Modal body -->
				  	<div class="modal-body">
			    		<div class="form-group">
    						<label>Form name:</label>
    						<input type="text" class="form-control" id="name" name="name">
    						<p id="nameError" style="color:red"></p>
 						</div>
				    	
				  	</div>
				  	<input type="hidden" value={{ user }} name="user">
				</form>
			  	<!-- Modal footer -->
			  	<div class="modal-footer">
			  		<button type="button" class="btn btn-primary" onclick="createEval()">Crear</button>
			    	<button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
			  	</div>
			</div>
		</div>
	</div>
{% endblock %}