{% extends "layout.html" %}
{% block title %}Main{% endblock %}
{% block head %}
	{{ super() }}
{% endblock %}

{% block options %}
	<br>
	<p class="nav-link" data-toggle="modal" data-target="#createEvalModal" href="">Crear Evaluación</p>
	<p class="nav-link" data-toggle="modal" data-target="#openEvalModal" href="">Abrir Evaluación</p>
{% endblock %}

{% block content %}
	<center>
		<p style="color:blue; margin-top:170px; font-size:160px; text-align:center;">EBR</p>
		<p style="color:blue; margin-top:-50px; text-align:center;">Exams Better Reloaded</p>
	</center>

	<div class="modal fade" id="createEvalModal">
		<div class="modal-dialog">
			<div class="modal-content">
			    <!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">Crear nueva evaluación</h4>
			    	<button type="button" class="close" data-dismiss="modal">&times;</button>
			    </div>
			    <form id="createEvalForm" action="/newEval" method="POST"
			    	  onkeypress="return event.keyCode != 13;">
				  	<!-- Modal body -->
				  	<div class="modal-body">
			    		<div class="form-group">
    						<label>Nombre del test:</label>
    						<input type="text" class="form-control" name="evalName">
    						<br>
    						<div id="nameError" class="alert alert-danger" style="display:none"></div>
 						</div>
				  	</div>
				</form>
				<script>document.getElementById("createEvalForm").reset();</script>
				
			  	<!-- Modal footer -->
			  	<div class="modal-footer">
			  		<meta id="createEvalData" data-name="{{ evaluationsJSON }}">
			  		<button type="button" class="btn btn-primary" onclick="createEval()">Crear</button>
			    	<button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
			  	</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="openEvalModal">
		<div class="modal-dialog">
			<div class="modal-content">
			    <!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">Abrir evalucion</h4>
			    	<button type="button" class="close" data-dismiss="modal">&times;</button>
			    </div>
			  	<!-- Modal body -->
			  	<div class="modal-body">
			  		{% if evaluations|length > 0%}
				  		<form action="openEval" method="POST">
				  			<input type="hidden" value="{{ userId }}" name="userId">
				  			<center>
					  			{% for evaluation in evaluations %}
			    					<button type="submit" name="evalId" value="{{ evaluation.evalId }}" class="btn btn-primary evalSelectBtn">{{ evaluation.evalName }}</button>
			    				{% endfor %}
		    				</center>
				  		</form>
				  	{% else %}
				  		<div class="alert alert-danger">
				  			No hay evaluaciones para este usuario.
				  		</div>
				  	{% endif %}
			  	</div>
			  	<!-- Modal footer -->
			  	<div class="modal-footer">
			    	<button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
			  	</div>
			  	<input type="hidden" value="{{ user }}" name="user">
			</div>
		</div>
	</div>
{% endblock %}