{% macro questionFormat(question) %}	
	<div id="formatoPregunta">
		<section class="pregunta">
			<br>
			<table style="width:100%; min-width:500px">
				<tr>
					<td>
						<label style="float:left">Enunciado:</label>
						<button type="button" class="btn btn-basic btn-sm" onclick="deleteQuestion(this.parentElement.parentElement.parentElement.parentElement.parentElement)" style="float:right">Eliminar pregunta</button>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<input type="text" class="form-control question" name="question" onchange="Saved=false" value={{ question.statement }}>
					</td>
				</tr>
				<tr>
					<td>
						<label><input type="checkbox" value="T" name="algebra" onchange="toggleQuestion(this, this.parentElement.parentElement.parentElement.nextElementSibling.nextElementSibling.firstChild, this.parentElement.parentElement.parentElement.nextElementSibling.firstChild)" {% if question.algebraic %} checked {% endif %}>¿Algebraico?</label>
					</td>
				</tr>
				<tr><td colspan="2" {% if question.algebraic is defined%} style="display:none" {% endif %}><table style="width:100%">
					<tr>
						<td>
							<label class="form-l">Respuesta Correcta:</label>
						</td>
						<td>
							<input type="text" class="form-control answer" name="1" onchange="Saved=false" value={{ question.correct }}>
						</td>
					</tr>
					<tr>
						<td style="vertical-align: top">
							<label class="form-l">Distractores:</label>
						</td>
						<td>
							<input style="margin-bottom:2px" type="text" class="form-control answer" name="2" onchange="Saved=false" value={{ question.distractor1 }}>
							<input style="margin-bottom:2px" type="text" class="form-control answer" name="3" onchange="Saved=false" value={{ question.distractor2 }}>
							<input style="margin-bottom:2px" type="text" class="form-control answer" name="4" onchange="Saved=false" value={{ question.distractor3 }}>
						</td>
					</tr>
				</table></td></tr>
				<tr><td colspan="2" {% if question.algebraic is not defined %} style="display:none" {% endif %}><table style="width:100%">
					<tr>
						<td>
							<label class="form-l">Fórmula:</label>
						</td>
						<td>
							<input type="text" class="form-control formula" name="5" onchange="Saved=false" value={{ question.formula }}>
						</td>
					</tr>
				</table></td></tr>
			</table>
			<hr style="border-color:#99ccff">
		</section>
	</div>
{%- endmacro %}