<!--
	Visualizacion de examenes generados con funcion de impresion automatica.
-->

<!DOCTYPE html>

<html>

<head>
	<style>
		@media print
		{    
		    .no-print, .no-print *
		    {
		        display: none !important;
		    }
		}
	</style>
	<title>{{ folderName }} - EBR</title>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="{{url_for('static', filename='gen.js')}}"></script>
</head>

<body onload="window.print()">
	{{ content|safe }}
</body>

</html>
